body, div, p, span, a, input, textarea, i, b, header, section, footer, nav, dl, dt, dd, ul, li, select {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}
*:not(input,textarea) {
-webkit-touch-callout:none;
-webkit-user-select:none;/*禁止苹果手机浏览器复制和粘贴功能，同时也导致文本框无法输入*/
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-text-size-adjust: none;
}
html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    color: #333333;
    background-color: #f5f7fa;
    font-size: .7rem;
}
@media only screen and (min-width: 640px){
    html {
        font-size: 120% !important;
    }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
    background-color: #FAFAFA;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #FAFAFA;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* input框提示字体颜色 */
::-webkit-input-placeholder { color: #CCCCCC; }
::-moz-placeholder { color: #CCCCCC; }
:-ms-input-placeholder { color: #CCCCCC; }
input, textarea {
    outline: none;
    -webkit-appearance: none;
    font-size:.8rem;
}
textarea {
    resize: none;
}
/* 日期弹出样式 */
.my-datatime.mint-datetime {
    .mint-datetime-action {
        margin: 6px 16px;
        padding-left: .5em;
        padding-right: .5em;
        width: auto;
        line-height: 26px;
        font-size: 14px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
    }
    .mint-datetime-cancel {
        color: #4A4A4A;
        background: #f5f5f5;
        border-color: #ebebeb;
    }
    .mint-datetime-confirm {
        color: #fff;
        background: #4D75FC;
        border-color: #4D75FC;
    }
}
/* 提示框按钮字体颜色 */
.mint-msgbox-wrapper .mint-msgbox-confirm {
    color: #4D75FC;
}
.mint-msgbox-wrapper .mint-msgbox-cancel {
  color: #C1C1C1;
}
/* 修复加载动画被覆盖 */
.mint-indicator {
    position: absolute;
    z-index: 10;
}
.mint-button--primary {
    background: #3399ff;
    border-radius: 0;
    height: 2.4rem;
    .mint-button-text {
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon {
        width: .8rem;
        height: .8rem;
        margin-right: .25rem;
        position: relative;
        top: 1px;
    }
}
.nomore-data {
    margin-top: 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.6rem;
    .text {
      position: relative;
      color: #b3b3b3;
      &:before {
        content: "";
        width: 4rem;
        height: 1px;
        position: absolute;
        left: -4.5rem;
        top: 0.3rem;
        background: #e5e5e5;
      }
      &:after {
        content: "";
        width: 4rem;
        height: 1px;
        position: absolute;
        right: -4.5rem;
        top: 0.3rem;
        background: #e5e5e5;
      }
    }
}
.top_tab {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 .55rem;
    padding-top: .75rem;
    .common_tab {
      color: #999999;
      font-size: .65rem;
      padding: .25rem .9rem;
      background: #fff;
      border: 1px solid #ebebeb;
      border-radius: 14px;
      margin-right: .7rem;
      &:last-of-type {
          margin-right: 0;
      }
    }
    .checkedtab {
      color: #3399FF;
      background: #e7f3ff;
      border: 1px solid #3399ff;
    }
}
.qjdhh {
    color: #F98700;
}
.qjshtg {
    color: #66C46D;
}
.qjshwtg {
    color: #F0644D;
}
.qjqx {
    color: #999999;
}
.have_no_data {
    text-align: center;
    margin-top: 6.65rem;
    .no_data{
        width: 3.7rem;
        height: 3.15rem;
    }
    .text {
        font-size: .65rem;
        color: #CCCCCC;
        margin-top: .75rem;
    }
}
.month_no_data {
    margin-top: 4rem;
}
.main-no-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -1.25rem;
    font-size: 0.7rem;
    text-align: center;
    .text {
      line-height: 2rem;
      color: #cccccc;
    }
    .img {
      width: 3.7rem;
      height: 3.15rem;
    }
}
