@import '../global.scss';
@import './reset.css';
@import '../element/element-ui.scss';
@import '@/style/element/element-variables.scss';

/* 屏蔽高德地图图标 */
.amap-logo{
  display: none;
  opacity:0 !important;
}
.amap-copyright {
  opacity:0;
}
/* 屏蔽高德地图图标 */

/* 按钮公共样式 */
.comm-btn {
  height: 32px;
  min-width: 76px;
  padding: 0 12px;
  font-size: 14px;
  color: var(--font-text2);
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  border: 1px solid var(--btn_outline);
  background-color: #ffffff;
  margin-left: 8px;
  svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: -2px;
  }
  &:hover{
    color: var(--theme-color);
    border-color: var(--theme-color);
    svg {
      color: var(--theme-color);
    }
  }
}
.comm-btn-primary {
  color: #ffffff;
  background: var(--theme-color);
  border-color: var(--theme-color);
  svg{
    color: #ffffff;
  }
  &:hover{
    color: #ffffff;
    background: var(--theme-shallow);
    border-color: var(--theme-shallow);
  }
}
.comm-btn-success {
  color: #ffffff;
  background: var(--theme-success);
  border-color:  var(--theme-success);
  svg{
    color: #ffffff;
  }
  &:hover{
    color: #ffffff;
    background:  var(--theme-success);
    border-color:  var(--theme-success);
  }
}
.comm-btn-error {
  color: #ffffff;
  background: var(--theme-error);
  border-color: var(--theme-error);
  svg{
    color: #ffffff;
  }
  &:hover{
    color: #ffffff;
    background: var(--theme-error);
    border-color: var(--theme-error);
  }
}
/* 按钮公共样式 */

/* 搜索地理位置信息 */
.pop_ser_it {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--font-text1);
  padding: 4px 8px;
  font-size: 12px;
}
.pop_ser_it:hover {
  border-radius: 2px;
  background: var(--theme-bg);
  color: var(--theme-color);
}
/* 搜索地理位置信息 */

/* Dropdown 下拉菜单 */
.el-dropdown-menu__item {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .drop_div {
    padding: 0 16px;
  }
}
.el-dropdown-menu__item--divided:before {
  content: none !important;
}
.el-dropdown-menu__item.is-disabled {
  color: #bbbbbb !important;
}
/* Dropdown 下拉菜单 */
