/**
 * @description 默认主题
 */
body.zm-theme-default {
  $base-theme-color: #4688FF;
  $base-auxiliary-color: #4688FF;
  $base-theme-success: #00AF5C;
  $base-theme-warning: #FF853F;
  $base-theme-error: #FF4949;
  $base-theme-bg: #F5F6FA;
  $base-theme-shallow: #E8F0FF;
  $base-font-text1: #323338;
  $base-font-text2: #5E6166;
  $base-font-text3: #939499;
  $base-font-text4: #C4C7CC;
  $base-btn_outline: #E6E7EB;
  $base-parting-line: #e6ebf5;
}
